body { background-image: url(../images/white.jpeg);
    background-blend-mode: multiply;

    font-family: cursive;
    text-align: center;
    color: black;


}
.header img {
    float: left;
    margin-left: 0;
    border-radius: 70%;
    width: 90px;
    height: 80px;
}


table {
    width: 400px;
}

table, th, td {
    border: 1px  solid #000;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
}
.tg td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg th {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
}

.tg .tg-baqh {
    text-align: center;
    vertical-align: top
}
form {
    text-align: left;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left: 25%;
}
legend {
    text-align: center;
    color: rgb(72, 13, 112);
}
input[type=number],
[type="radio"] {
    width: 100%;
    padding: 8px 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid rgb(99, 138, 221);
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: grey;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



